body {
background-color:#999999;
}
#resourcesdiv {
display:none;
}
#vyber{
width:600px;
height:50px;
overflow:auto;
margin-left:0px;
}
#hlavnaobr{
margin-left:0px;
margin-top:0px;
padding-left:0px;
padding-top:0px;
}
#hra{
display:none;
}
#story{
display:none;
}
#vyhra{
display:none;
}
#prehra{
display:none;
}
#introMenu{
display:block;
}
#tehWinz{
display:none;
}
#noteone{
display:none;
}
#notetwo{
display:none;
}
#badending{
display:block;
}
#epicwin{
display:none;
}
.velkyobdlznik{
text-align:center;
width:600px;
height:470px;
border-style:ridge;
border-width:5px;
border-color:#666666;
background-color:#c1c1c1;
}
h1{
margin-top:30px;
margin-bottom:30px;
}
.tlacidlo{
border-style:outset;
border-width:3px;
border-color:black;
width:100px;
margin-top:5px;
margin-left:auto;
margin-right:auto;
}
#storyContents{
width:400px;
margin-left:auto;
margin-right:auto;
}
